<div class="card-body">

  <!-- modify this form HTML and place wherever you want your form -->
  <h3>Contato</h3>
  <div class="card">
    <div class="card-body">
      <form action="https://formspree.io/xdoaoyzw" method="POST">
        <label>
          Seu email:

        </label>
        <input class="form-control" type="email" name="_replyto" required="true">
        <label>
          Sua mensagem:

        </label>
        <textarea class="form-control" name="message" required="true"></textarea>
        <br>
        <button type="submit" class="btn btn-success">Enviar email</button>

        <!-- your other form fields go here -->
      </form>
    </div>
  </div>

</div>