<div class="card-body">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Painel Aministrativo</h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atleticas</h5>
                    <p class="card-text">Cadastrar atléticas</p>
                    <a href="/admin/cadastrar/atletica" class="btn btn-primary">Vamos lá</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eventos</h5>
                    <p class="card-text">Cadastrar eventos</p>
                    <a href="/admin/cadastrar/evento" class="btn btn-primary">Vamos lá</a>
                </div>
            </div>
        </div>
    </div>
</div>