<footer class="card-footer" style="margin-bottom: 0;">

  <div class="text-center py-4 text-muted">
    &copy;2019-2020 <a href="https://twitter.com/fizprogramas"  target="_blank" style=" text-decoration: none;">Tállyto Rodrigues </a>
  </div>

</footer>