<div class="card-body">
<h3>Atleticas</h3>

<div class="card-columns">

    <div class="card" style="width: 18rem;">
        <img src="/img/atleticas/nexus.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Atletica Nexus</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="/nexus" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/img/atleticas/impetuosa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Impetuosa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/img/atleticas/suprema.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Suprema</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>

   


</div>
</div>