<div class="card-body">
    <h3>Atleticas</h3>
    <hr>
    <div class="card-columns ">


        <div class="col-sm-12">
            <div class="card ">
                <img src="/img/atleticas/alfa.jpg" class="card-img-top rounded " alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alfa</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/alfa" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/guerreira.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Guerreira</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/guerreira" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/heroica.jpg" class="card-img-top  rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Heróica</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/heroica" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/impetuosa.jpg" class="card-img-top  rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Impetuosa</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/impetuosa" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/mercenaria.jpg" class="card-img-top  rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mercenária</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/mercenaria" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/nexus.jpg" class="card-img-top  rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nexus</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/nexus" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/soberanos.jpg" class="card-img-top  rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Soberanos</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/soberanos" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <div class="card">
                <img src="/img/atleticas/suprema.jpg" class="card-img-top  rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Suprema</h5>
                    <p class="card-text">Descrição</p>
                    <a href="/atleticas/suprema" class="btn btn-dark">Saiba mais</a>
                </div>
            </div>

        </div>

    </div>
</div>