<div class="card-body">
    <h3>Eventos</h3>

    <div class="card-columns">

        <div class="card" style="width: 18rem;">
            <img src="/img/computaria.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Computaria</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/img/projeto-x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Projeto X</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/img/blocodopapo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bloco do Papo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>




    </div>

</div>