<div class="card-body">
    <h3>Eventos</h3>

    <div class="card-columns">
        {{#each eventos }}

        {{#if isActive}}
        <div class="card" style="width: 18rem;">
            <img src="/uploads/{{img.key}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/eventos/{{slug}}" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        
        {{/if}}

        {{/each}}

    </div>

</div>