<div class="card-body">
    <h3>Eventos</h3>

    <div class="card-columns">
        {{#each eventos}}

        <div class="card" style="width: 18rem;">
            <img src={{imgSrc}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="#" class="btn btn-primary">Saiba mais</a>
            </div>
        </div>
        {{else}}
        <h5>Nenhum evento</h5>
        {{/each}}

       

    </div>

</div>