<div class="card-body">
<h3>Eventos Passados</h3>
<div class="card-columns">

    <div class="card" style="width: 18rem;">
        <img src="/img/passadas/ragnarok-2019.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ragnarok</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/img/passadas/cervejada-2019.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cervejada das Agrarias</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>

     <div class="card" style="width: 18rem;">
        <img src="/img/passadas/universo-pisicodelico-2019.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Universo Pisicodélico</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
    </div>

</div>
</div>