<div class="card-body">

    <section class="card"
        style="background-image: url(https://upload-party.s3-sa-east-1.amazonaws.com/gradient-party.jpg);">


        <div class="card-body text-white py-5 px-5 my-5">

            <h1 class="mb-4">
                <strong>Boa Vista Party</strong>
            </h1>
            <p>
                <strong>Seu portal de eventos em Boa Vista - RR</strong>
            </p>

        </div>

    </section>
    <hr>


    <div class="row">
        <div class="col-md-4">
            <h2>Atléticas</h2>
            <p>As A.A.A´s (Associação Atlética Acadêmica) são as entidades responsáveis em promover e coordenar a parte
                esportiva de cada faculdade, organizando treinos e campeonatos externos e internos em diversas
                modalidades esportivas.

                <p><a class="btn btn-secondary" href="/atleticas" role="button">Saiba mais</a></p>
        </div>
        <div class="col-md-4">
            <h2>Eventos</h2>
            <p>Aqui você vai ficar por dentro de todos os eventos e ações sociais, das atléticas e parceiros. </p>
            <p><a class="btn btn-secondary" href="/eventos" role="button">Saiba mais</a></p>
        </div>
        <div class="col-md-4">
            <h2>Parceiros</h2>
            <p>Conheça os lugares onde associados das atleticas tem descontos.</p>
            <p><a class="btn btn-secondary" href="/parceiros" role="button">Saiba mais</a></p>
        </div>
    </div>

    <hr>

    <h3>Proximos eventos</h3>
    <div class="row">

        <div class="col-sm-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://upload-party.s3-sa-east-1.amazonaws.com/computaria.jpg"
                            alt="Computaria">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100"
                            src="https://upload-party.s3-sa-east-1.amazonaws.com/bloco-dos-deuses.jpg"
                            alt="Deuses na folia">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100"
                            src="https://upload-party.s3-sa-east-1.amazonaws.com/bloco-do-papo.jpg" alt="Bloco do papo">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://upload-party.s3-sa-east-1.amazonaws.com/carna-vrau.jpg"
                            alt="Carna vrau">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
    </div>



</div>