<div class="card-body">

    <section class="card"
        style="background-image: url(https://upload-party.s3-sa-east-1.amazonaws.com/gradient-party.jpg);">

        <div class="card-body text-white py-5 px-5 my-5">

            <h1 class="mb-4">
                <strong>Boa Vista Party</strong>
            </h1>
            <p>
                <strong>Seu site de eventos e ações acadêmicas em Boa Vista/RR</strong>
            </p>

        </div>

    </section>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <h3>Atléticas</h3>
            <p>As A.A.A´s (Associação Atlética Acadêmica) são as entidades responsáveis em promover e coordenar a parte
                esportiva de cada faculdade, organizando treinos e campeonatos externos e internos em diversas
                modalidades esportivas.

                <p><a class="btn btn-secondary" href="/atleticas" role="button">Saiba mais</a></p>
        </div>
        <div class="col-md-4">
            <h3>Eventos</h3>
            <p>Aqui você vai ficar por dentro de todos os eventos e ações sociais, das atléticas e parceiros. </p>
            <p><a class="btn btn-secondary" href="/eventos" role="button">Saiba mais</a></p>
        </div>
        <div class="col-md-4">
            <h3>Parceiros</h3>
            <p>Conheça os lugares onde associados das atleticas tem descontos.</p>
            <p><a class="btn btn-secondary" href="/parceiros" role="button">Saiba mais</a></p>
        </div>
    </div>

    <hr>

    <h3>Próximos eventos</h3>
   

</div>