<div class="card-body">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Boa Vista Party</h1>
            <p>Aqui você fica por dentro das festas e ações universitárias.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Atléticas</h2>
                <p>A atlética é uma associação independente formada pelos estudantes com o objetivo de integrar os
                    alunos. Inicialmente, o foco era a vida esportiva da faculdade, com a organização de jogos e
                    campeonatos, mas, com o passar do tempo, ela começou a ter outras funções, como organizar a recepção
                    de calouros, festas e outros eventos.</p>
                <p><a class="btn btn-secondary" href="/atleticas" role="button">Saiba mais</a></p>
            </div>
            <div class="col-md-4">
                <h2>Eventos</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="/eventos" role="button">Saiba mais</a></p>
            </div>
            <div class="col-md-4">
                <h2>Parceiros</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="/parceiros" role="button">Saiba mais</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->
</div>