<div class="card-body">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Guerreira</h1>
            <p class="lead">Associação Atlética Acadêmica de Direito - UFRR</p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <h3>O que é uma atlética?</h3>
            <p>
                Inseridas no ambiente universitário, as Atléticas desempenham uma série de funções benéficas à
                comunidade acadêmica, especialmente aos alunos. Elas promovem a integração entre estudantes, incentivam
                a prática de esportes e ainda promovem ações em prol do bem-estar social. Isto é, as Atléticas são coisa
                séria.
            </p>
        </div>

        <div class="col-sm-6">
            <h3>Qual a história da A.A.A.D Guerreira?</h3>
            <p>
                A nossa atlética foi fundada no mês de abril do ano de 2018, é a 2ª atlética a ser fundada no estado e a
                PRIMEIRA de direito de Roraima. Nossa atlética conta com aproximadamente 90 associados, com treinos de
                todas as modalidades presentes dos Jogos Inter atléticas (basquete, futsal, handebol, natação, vôlei, EA
                Games, ping pong, truco, xadrez, sinuca; entre outros que ainda serão adicionados).
            </p>

        </div>

        <div class="col-sm-6">
            <h3>O que a logo de uma índia representa?</h4>
            <p>
                Nós buscamos unir o amor que temos pelo estado de Roraima e um símbolo clássico do Direito, então
                redesenhamos a Themis, como uma maneira de representar esse amor e a justiça concretizados em uma única
                figura, a Guerreira. Nosso símbolo traz em suas vestimentas as cores preto, dourado e vermelho,
                representando valores focados na justiça, no comprometimento e na força, atributos típicos de uma
                guerreira!
            </p>
        </div>

        <div class="col-sm-6">
            <h4>Por quê me associar a uma atlética?</h4>
            <p>
                Enfim, enxergamos o esporte como complemento da educação jurídica, pois através dele são lapidadas
                virtudes como tolerância a frustração, busca por objetivos, disciplina, respeito à diversidade,
                superação, cooperação, altruísmo, autoconhecimento e trabalho em equipe. Acreditamos também que dar
                identidade aos nossos alunos por meio de bandeiras, cores, produtos, símbolos inspira o amor pelo
                orgulho e claro, o orgulho de ser um guerreiro, orgulho de ser direito da federal.
            </p>
        </div>

        <div class="col-sm-6">
            <a class="twitter-timeline" data-chrome="transparent" data-height="400"
                href="https://twitter.com/guerreiraufrr?ref_src=twsrc%5Etfw">Tweets by
                guerreiraufrr</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>


        <div class="col-sm-6">
            <h3>JUNTE-SE A TRIBO!</h3>

            <a href="https://www.instagram.com/atleticaguerreiraufrr/" target="_blank">
                <i class="fa fa-instagram" style="font-size:20px"> Instagram</i>
            </a>
            <br>
            <a href="https://twitter.com/guerreiraufrr" target="_blank">
                <i class="fa fa-twitter" style="font-size:20px"> Twitter</i>
            </a>

        </div>

        <div class="col-sm-6">
            <h3>Nossos produtos</h3>

        </div>

    </div>
</div>

<style>
    a {
        text-decoration: none;
    }

    .card-body {
        background-color: rgba(240, 128, 128, 0.30);
    }

    .jumbotron {
        background-color: rgba(240, 128, 128, 0.15);
    }

    .jumbotron-fluid {
        background-color: rgba(240, 128, 128, 0.15);
    }
</style>