<div class="card-body">

    <!--jumbotron-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ATLÉTICA SOBERANOS</h1>
            <p class="lead">ASSOCIAÇÃO ATLÉTICA ACADÊMICA DE ODONTOLOGIA DA FACULDADE CATHEDRAL! 🐯💙🤍❤️ </p>
        </div>
    </div>
    <!--jumbotron-->

    <!--Linha 1-->
    <div class="row">

        <div class="col-sm-6">
            <h3>Descrição</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis aliquet convallis. Vivamus
                id
                orci
                ornare, convallis elit nec, sagittis mi. Donec id quam at lectus rhoncus porta. Donec porta maximus
                vestibulum. Cras
                ac est eget velit semper pretium. Aliquam id turpis ultrices ipsum maximus dignissim. Morbi magna dui,
                pellentesque
                et commodo tristique, luctus et velit. Nulla eleifend justo a velit dictum bibendum. Vestibulum erat
                eros,
                venenatis
                quis maximus sed, condimentum nec arcu. Nunc sed augue placerat, maximus purus ac, imperdiet mauris.
                Nulla
                ac quam
                pulvinar augue imperdiet dapibus. Morbi scelerisque vestibulum sapien, ut scelerisque nibh lobortis non.
            </p>
        </div>

        <div class="col-sm-6">
            <h3>História</h3>
            <p>
                Maecenas congue auctor maximus. Nunc vitae sapien sed augue mattis pulvinar in nec purus. Nullam varius,
                quam sit
                amet egestas convallis, tellus quam molestie orci, eu pellentesque orci tellus in nibh. Pellentesque
                habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Nullam et laoreet enim. Duis placerat
                lacus vitae
                ultricies sagittis. Ut nulla elit, sodales quis dapibus vitae, efficitur ac lorem. Suspendisse quis
                faucibus
                ligula,
                ac vestibulum velit. Etiam a ornare ex, eu pulvinar mi. Duis in est rhoncus, blandit lectus nec,
                consectetur
                enim.
                Donec placerat ligula tellus, ut condimentum odio fringilla at. Aenean dapibus, lorem a commodo
                tincidunt,
                lacus
                lacus semper nisl, ut imperdiet leo ex in tortor. Cras dignissim iaculis finibus.
            </p>

        </div>

        <div class="col-sm-6">
            <h3>Objetivos</h3>
            <p>
                Nunc molestie dapibus erat ac placerat. Nunc at erat ligula. In hac habitasse platea dictumst. Fusce
                cursus
                urna libero, in tristique nisi gravida vitae. In lacinia tortor odio, vitae elementum magna pretium id.
                Aenean et diam iaculis lacus efficitur vestibulum. Duis pellentesque tincidunt pulvinar. Cras ac rhoncus
                urna.
            </p>
        </div>

        <div class="col-sm-6">
            <h3>Eventos</h3>
            <p>

            </p>
        </div>

        <div class="col-sm-6">
            <a class="twitter-timeline" data-lang="pt" data-height="400" data-chrome="transparent"
                href="https://twitter.com/soberanos_?ref_src=twsrc%5Etfw">Tweets by soberanos_</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-sm-6">
            <h3>Redes Sociais</h3>
            <ul>
                <a href="https://www.instagram.com/soberanoscathedral/">
                    <li>Instagram</li>
                </a>
                <a href="https://twitter.com/soberanos_">
                    <li>Twitter</li>
                </a>
            </ul>
        </div>

        <div class="col-sm-6">
            <h3>Nossos produtos</h3>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/img/atleticas/soberanos/produtos/camiseta.jpg" alt="Camiseta">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Camiseta</h5>
                            <p>Camiseta estampada soberanos</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<style>
    .card-body {
        background-color: rgba(30, 144, 255,0.5);
    }

    .jumbotron {
        background-color: rgba(30, 144, 255,0.3);
    }

    .jumbotron-fluid {
        background-color: rgba(30, 144, 255,0.3);
    }
</style>