<div class="card-body">

    <!--jumbotron-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Suprema</h1>
            <p class="lead">Associação Atlética Acadêmica de Relações Internacionais da UFRR 💜💛
                🐙A.A.A.R.I U.F.R.R🐙</p>
        </div>
    </div>
    <!--jumbotron-->

    <!--Linha 1-->
    <div class="row">

        <div class="col-sm-6">
            <h3>Descrição</h3>
            <p>
                A Atlética Suprema representa sobretudo os alunos do curso de Relações Internacionais da Universidade
                Federal de Roraima e tem como mascote o Leviatã.
                Partindo de mentes contratualistas, o monstro marinho emerge dos mares com a missão de estabelecer o
                equilíbrio no âmbito universitário, onde todos transferem o seu direito individual, para o Leviatã, em
                prol da criação do Estado e um bem maior. Nada melhor do que uma conversa diplomática e o entendimento
                mútuo de que: NÓS SOMOS O ESTADO!
                Nossas cores oficiais são roxo, amarelo e branco.
            </p>
        </div>

        <div class="col-sm-6">
            <h3>História</h3>
            <p>
                A Suprema surgiu dentro do conceito de filosofia política que os alunos de Relações Internacionais estão
                acostumados a estudar, onde o Leviatã surge tanto da metáfora do Estado como supremo e absoluto, quanto
                da mitologia de monstro mais poderoso dos mares.
                O Leviatã é caracterizado pelo seu aspecto de dominação. Como já dizia Thomas Hobbes: "concentra todo o
                poder em torno de si e ordena as demais decisões". Fomos criados no dia 06 de Outubro de 2018 no meio de
                uma aula de História Andina e Pan Amazônica, acredite se quiser mas não estávamos procastinando, onde a
                ideia era encontrar uma forma para melhorar nossa vida universitária e o melhor proveito deste momento
                único em nossas vidas.
            </p>

        </div>

        <div class="col-sm-6">
            <h3>Objetivos</h3>
            <p>
                Possuímos o intuito de promover a integração entre os alunos nos campos acadêmicos, esportivos e
                sociais, afim de melhorar a vida universitária, reforçando nosso amor pelo curso e por nossa
                instituição, também aumentando a vontade de estar vivendo a Universidade por meio do esporte e lazer,
                tirando todo o peso que possa ter qualquer estudante em sua rotina.
            </p>
        </div>

        <div class="col-sm-6">
            <h3>Eventos</h3>
            <p>

            </p>
        </div>

        <div class="col-sm-6">
            <a class="twitter-timeline" data-height="400" data-chrome="transparent"
                href="https://twitter.com/supremaufrr?ref_src=twsrc%5Etfw">Tweets by
                supremaufrr</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-sm-6">
            <h3>Redes Sociais</h3>
            <ul>
                <a href="https://www.instagram.com/supremaufrr/">
                    <li>Instagram</li>
                </a>
                <a href="https://twitter.com/supremaufrr">
                    <li>Twitter</li>
                </a>
            </ul>
        </div>

        <div class="col-sm-6">
            <h3>Nossos produtos</h3>


        </div>

    </div>
</div>


<style>
    .card-body {
        background-color: rgba(147, 112, 219, 0.5);
    }

    .jumbotron {
        background-color: rgba(147, 112, 219, 0.3);
    }

    .jumbotron-fluid {
        background-color: rgba(147, 112, 219, 0.3);
</style>