<div class="card-body">
    <div class="row">
        <div class="col-sm-6">
            <h3>Sobre o Evento</h3>
            <p>Uma festa fora do controle 🔞</p>
        </div>

        <div class="col-sm-6">

            <h3>Informações</h3>

            <img src="/icons/whatsapp.png" alt="Whastapp">
            <a class="whatsapp"
                href="https://api.whatsapp.com/send?phone=5595981233841&text=Gostaria%20de%20informa%C3%A7%C3%B5es%20sobre%20a%20festa%20Projeto%20X">Whatsapp
            </a>


            <br>

            <img src="/icons/whatsapp.png" alt="Whastapp">
            <a class="whatsapp"
                href="https://api.whatsapp.com/send?phone=5595991715751&text=Gostaria%20de%20saber%20sobre%20a%20festa%20Projeto%20X">Whatsapp
            </a>


        </div>

        <div class="col-sm-6">
            <h3>Redes sociais</h3>

            <img src="/icons/twitter.png" alt="Twitter">
            <a class="twitter" href="https://twitter.com/projetox_19">Twitter
            </a>

        </div>

        <div class="col-sm-6">

            <a class="twitter-timeline" data-height="400" data-chrome="transparent"
                href="https://twitter.com/projetox_19?ref_src=twsrc%5Etfw">Tweets by projetox_19</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>

        <div class="col-sm-6">
            <h3>Pontos de venda</h3>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Papo de Boleiro</h5>
                    <div class="map-responsive">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.905998119375!2d-60.6773868852434!3d2.843472697928791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8d930f552c512399%3A0xd75677f7dfeb45fc!2sR.%20Rond%C3%B4nia%2C%201358%20-%20Dos%20Estados%2C%20Boa%20Vista%20-%20RR%2C%2069305-500!5e0!3m2!1spt-BR!2sbr!4v1576529735103!5m2!1spt-BR!2sbr"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Vá de app</h3>

            <h5>Chácara Paraíso</h5>

            <img src="/icons/uber.png" alt="Uber">
            <a class="uber"
                href="https://m.uber.com/ul/?action=setPickup&client_id=efD4ycmRwP6J67dLJdtt_N0OmmjtAjmc&pickup=my_location&dropoff[formatted_address]=Rua%20Quarta%20Nascente%2C%20790%2C%20Boa%20Vista%20-%20RR%2C%20Brasil&dropoff[latitude]=2.786293&dropoff[longitude]=-60.735209">Uber</a>

        </div>


    </div>
</div>

<style>
    .whatsapp {
        color: limegreen;
    }

    .uber {
        color: black;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>